include ../home/index
include ../navigation/index
include ../logo/index
include ../tour/index
include ../social/index
include ../video/index

doctype html
html
  head
    title!= props.title
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name="description" content=props.meta.description)
    meta(name="keywords" content=props.meta.keywords)
    meta(property="og:title" content=props.meta.title)
    meta(property="og:description" content=props.meta.description)
    meta(property="og:image" content=props.meta.image)
    meta(property="og:url" content=props.meta.siteUrl)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="")
    link(rel="icon" href="/content/favicon.ico")
    link(rel="apple-touch-icon" href="/content/apple-touch-icon.png")
    script(src='/bundle/bundle.js')
    link(href='/bundle/bundle.css', rel='stylesheet', type='text/css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88270530-1', 'auto');

    each l in props.externalLinks
      link&attributes(l.attributes)
  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PZ6NPVX" height="0" width="0" style="display:none;visibility:hidden")
    //- End Google Tag Manager (noscript)
    .inner-bg(style=`background-image: url(${props.home.bg})`)
    main.inner-content
      +navigation(props.navigation)
      +logo(props.home.logo)
      +home(props.home)
      +tour(props.tour)
      +video(props.video)
      +social(props.social)
